// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.w-500 {
	width: 500px;
}

@-webkit-keyframes spinning {
	from {transform: rotate(0deg);}
	to   {transform: rotate(180deg);}
}
@keyframes spinning {
	from {transform: rotate(0deg);}
	to   {transform: rotate(180deg);}
}
.square {
	width: 50px;
	height: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: #999 #ccc;
	border-radius: 50px;
	-webkit-animation: spinning 0.75s infinite linear;
	animation: spinning 0.75s infinite linear;
}

